*.log
*.lof
*.aux
*.gz
*.lot
*.out
*.bbl
*.blg
*.toc
*.bcf
*.run.xml
*.swp
*.tmp
*.bak
*.fls
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.xcf
*.bak
*~
*#
**/doc/*
*2018.pdf
*2019.pdf
*2020.pdf
.latexcfg
.latexmkrc
ignore_dir
